body {
    margin: 0;
    width: 100vw;
    font-family: "Montserrat", sans-serif;

}

html {
    scroll-behavior: smooth;
    /*scroll suave al clicar las secciones desde navbar*/
}

.container {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: relative;
}

/*CARRUSEL CABECERO*/

.carousel-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    width: 100vw;
    height: 500px;
    opacity: 80%;
    border: none;
    margin: 0;
    overflow: hidden;
    box-shadow: 0 4px 10px gray;
    transition: transform 0.5s ease-in-out;
    transition-delay: 2ms;
    border-radius: 3%;

}

.carousel-container .texto1 {
    position: absolute;
    display: inherit;
    font-size: 35px;
    padding-right: 10px;
    padding-left: 20px;
    top: 20%;
    left: 50%;
    transform: translate(-80%, -20%);
    color: #036694;
    text-align: left;
    z-index: 1;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    text-justify: inter-ideograph;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.carouselImage {
    width: 880px;
    height: 650px;
    display: none;
    border-radius: 10%;
    opacity: 5;
    transition: opacity 2ms ease-in-out;
    transition-delay: 2s;

}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}



@keyframes fadeIn {
    to {
        opacity: 5;
    }
}

.active {
    scale: 1.5;
    display: block;
    opacity: 5;
    transition-delay: 1s;
}



/*NAVBAR INICIO*/

.navbar {
    display: flex;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 10%;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
    background-color: #FFBE88;
    z-index: 1000;

}

.brandName {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-right: 10px;
    position: sticky;

}

.brandName h1 {
    font-size: 18px;
    padding-right: 5px;
}

.brandName img {

    width: 50px;
}

.menuButton {
    border-left: none;
    border-right: none;
    border-top: 3px solid #fc9038f1;
    border-bottom: 3px solid #fc9038f1;
    width: 100%;
    background-color: #FFBE88;
    position: sticky;
}

.menuButton img {
    cursor: pointer;
}

/*CONTENIDO DEL MENU DESPLEGABLE*/

.menuContent {

    /* Oculto por defecto */
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: #FFBE88;
    z-index: 1000;
    overflow: hidden;
    transition: width 1s ease;
}

.menuContent ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 200px;
    padding-left: 25px;
    margin-right: 20px;
    opacity: 0;
    /* Comienza invisible */
    visibility: hidden;
    /* No es visible */
    transition: opacity 0s ease, visibility 0s 0s;
}

.menuContent.active {
    /*lo que aqui escrito está muestra cómo se ve el menú desplegable al clicarlo*/
    display: block;
    width: 400px;

}

.menuContent.active ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 200px;
    padding-left: 25px;
    margin-right: 20px;

    opacity: 1;
    /* Visible cuando la barra está activa */
    visibility: visible;
    /* Hacemos la lista visible */
    transition: opacity 0.3s ease;
    /* Aparece de manera suave */
    transition-delay: 0.2s;
}

.menuContent.active li {
    margin-left: 20px;
    margin-bottom: 70px;
}

.menuContent.active a {
    text-decoration: none;
    font-size: 45px;
    font-weight: normal;
    color: white;
    transition: color 0.70s ease;
}

.menuContent.active a:hover {
    color: #fc9038f1;
}

/*FIN DEL CONTENIDO DEL MENU DESPLEGABLE*/

/*BOTÓN DEL CONTACT US - FORMULARIO*/

.contactUsBtn {

    border: none;
    width: 100%;
    height: 100%;
    background-color: #FFBE88;
    position: sticky;
    display: inline-block;
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
    transition: color 0.8s ease-in-out;
    background-image: linear-gradient(to top, #fc9038f1 100%, transparent 0%);
    background-size: 100% 0%;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: background-size 0.8s ease-in-out;
}

.contactUsBtn:hover {
    background-size: 100% 100%;
}

.contactUsBtn img {
    /*subir imagen del sobre*/
    padding-bottom: 500px;

}

/*ESTILIZADO DEL FORMULARIO*/

.contactFormOverlay {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #CDB3D4;

    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.6s ease;
}

.contactForm {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.contactForm h2 {
    margin-bottom: 20px;
}

.contactForm label {
    display: block;
    margin: 10px 0 5px;
}

.contactForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.contactForm button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contactForm button:hover {
    background-color: #2980b9;
}

/* Botón de cerrar formulario */
.closeFormBtn {
    /*Por qué los botones siguen quedándose de color azul?*/
    background-color: #E7B7C8;
    margin-left: 10px;
}

.closeFormBtn:hover {
    background-color: #c0392b;
}

/*Botón de "enviar"*/

.submitBtn {
    background-color: #CDB3D4;
    margin-left: 10px;
}

.submitBtn:hover {
    background-color: #E7B7C8;
}

/* Mostrar formulario al hacer clic */
.contactFormOverlay.active {
    right: 0;
}

/*ESTILIZADO DEL ELEMENTO POP-UP*/
.popup {
    /*Definir aqui el estilo del pop-up*/
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
}


/*ESTILIZADO DE FORMULARIO - FIN*/

/*NAVBAR FIN*/


.background {
    background-repeat: no-repeat;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    opacity: 50%;
}

.mainBody {
    display: flex;
    flex-direction: column;
    margin-right: 144px;
    width: 100%;
}

/*CARRUSEL TOP
.websiteTop {
    display: flex;
    width: 90%;
}

h1 {
    display: inline-block;
    font-size: 25px;
    padding-right: 5px;
}
*/


/*NUESTROS SERVICIOS - INICIO*/

#services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 150px;
}

/*SERVICIO 1*/

#services h1 {
    margin: auto;



}

.service1 {
    display: flex;
    height: 400px;


}

.service1Text {
    width: 80%;
    padding-left: 60px;
    padding-right: 170px;
    margin-top: 50px;

}

.service1Text h2 {
    color: #024969;
    font-size: 25px;
    font-weight: normal;
}

.service1Text p {
    text-align: justify;
}

.service1Image {
    /*AJUSTAR*/
    width: 50%;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    margin-top: 50px;

}

.service1Image img {
    width: 300px;
    height: auto;
    border-radius: 55% 75% 10% 25%;

}


/*SERVICIO 2*/

#services h1 {
    margin: auto;
    padding-bottom: 50px;

    color: #056491;
    font-size: 50px;
    font-weight: normal;
}

.service2 {
    display: flex;
    height: 400px;
    margin-top: 80px;
}

.service2Text {
    width: 80%;
    padding-left: 80px;
    padding-right: 60px;
}

.service2Text h2 {
    color: #024969;
    font-size: 25px;
    font-weight: normal;
    margin-top: 50px;
}


.service2Text p {
    text-align: justify;
}

.service2Image {
    /*AJUSTAR*/
    width: 50%;
    display: flex;
    justify-content: center;
    margin-right: 130px;
    margin-top: 50px;

}

.service2Image img {
    width: 300px;
    height: auto;
    border-radius: 55% 25% 55% 85%;
}


/*SERVICIO 3*/

.service3 {
    display: flex;
    height: 400px;
    margin-top: 50px;

}

.service3Text {
    width: 80%;
    padding-left: 60px;
    padding-right: 170px;
    margin-top: 50px;

}

.service3Text h2 {
    color: #024969;
    font-size: 25px;
    font-weight: normal;
}

.service3Text p {
    text-align: justify;
}

.service3Image {
    /*AJUSTAR*/
    width: 50%;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    margin-top: 50px;


}

.service3Image img {
    width: 300px;
    height: auto;
    border-radius: 55% 25% 55% 25%;
}

/*SERVICIO 4*/

.services h1 {
    margin: auto;
    padding-bottom: 50px;
}

.service4 {
    display: flex;
    height: 400px;
    margin-top: 50px;
}

.service4Text {
    width: 80%;
    padding-left: 80px;
    padding-right: 60px;
    margin-top: 50px;
}

.service4Text h2 {
    color: #024969;
    font-size: 25px;
    font-weight: normal;
}

.service4Text p {
    text-align: justify;
}

.service4Image {
    /*AJUSTAR*/
    width: 50%;
    display: flex;
    justify-content: center;
    margin-right: 131px;
    margin-top: 50px;

}

.service4Image img {
    width: 300px;
    height: auto;
    border-radius: 55% 25% 25% 25%;
}

/*REVIEWS*/

#reviews {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    background-color: white;
    padding-top: 170px;
    padding-bottom: 100px;
    border-radius: 50% 50% 0 0;
    box-shadow: 0 30px 40px -2px #CDB3D4
}

#reviews h1 {
    margin: auto;
    padding-bottom: 90px;

    color: #056491;
    font-size: 40px;
    font-weight: normal;
}

.reviewsCarrusel {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 131px;
    padding-left: 57px;

}

/*REVIEWERS*/

.reviewer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewer img {
    /*arreglar formato de fotos*/
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.reviewer h2 {
    color: #056491;
    font-size: 20px;
    font-weight: normal;
}

.reviewer p {
    text-align: center;
}

/*TEAM MEMBERS*/

#team {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-bottom: 90px;

}

#team h1 {
    margin: auto;
    padding-bottom: 90px;

    color: #056491;
    font-size: 50px;
    font-weight: normal;
}

.teamMembers {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 131px;
    padding-left: 57px;
    justify-content: space-between;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 45px;
    width: 250px;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px 100px / 120px;
    background-color: #e3d2e9;

}

.member h2 {
    font-weight: normal;
    color: #614068;
}

.member p {
    text-align: justify;
}

.member img {
    width: 160px;
    height: 160px;
    border-radius: 100%;

    /*Estilizar el borde de la imagen*/
}


/*FOOTER*/

footer {
    display: flex;
    margin-top: 120px;

    background-color: white;
}

.brandNameFooter {
    padding-left: 130px;

}

.brandNameFooter p {
    margin-top: 0px;
    padding-bottom: 20px;
    ;
}

.footerLogo {
    display: flex;
    align-items: center;
    padding-right: 10px;
    background-color: #FFBE88;
}

.footerLogo h1 {
    font-size: 23px;
    padding-right: 5px;
    padding-left: 20px;
}

.footerLogo img {

    width: 50px;

}

.contact {
    line-height: 8px;
    margin-left: 150px;
}

.socialMedia {
    margin-left: 150px;
}

.socialMedia h3 {
    margin-top: 30px;
    margin-bottom: 0;
}

.socialMedia img {
    width: 40px;
    height: 40px;
}





img {
    width: 100px;
    height: auto;
}