body {
    margin: 0;
    width: 100vw;
}

.container {
    display: flex;
    width: 100vw;
    
    justify-content: center;
}

.navbar{
    display: flex;
    width: 10%;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
    border: 5px solid blue;/*temporal*/
}

.brandName {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-right: 10px;
}

.brandName h1 {
    font-size: 23px;
    padding-right: 5px;
}

.brandName img {
    border: 1px solid red;
    width: 50px;
}

.menuButton {
    border: 1px solid red;/*temporal*/
    width: 100%;
    margin-bottom: 10px;
}

.contactUsBtn  {
     border: 1px solid red;/*temporal*/
     width: 100%;
     height: 100%;
 }

.contactUsBtn img {
    /*subir imagen del sobre*/
}

 /*NAVBAR FIN*/

.mainBody {
    display: flex;
    flex-direction: column;
    width: 90%;
}

/*CARRUSEL TOP
.websiteTop {
    display: flex;
    width: 90%;
}

h1 {
    display: inline-block;
    font-size: 25px;
    padding-right: 5px;
}
*/


/*NUESTROS SERVICIOS - INICIO*/

.services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:60px;
}

/*SERVICIO 1*/

.services h1 {
    margin: auto;
    padding-bottom: 90px;

}
.service1 {
    display:flex;
    height: 400px;

    
}

.service1Text {
    width: 80%;
    padding-left:100px;
    padding-right:170px;
    
}

.service1Text p {
    text-align: justify;
}

.service1Image { /*AJUSTAR*/
    width: 50%;
    display: flex;
    justify-content: center;

}

.service1Image img {
    width:400px;
}

/*SERVICIO 2*/

.services h1 {
    margin: auto;
    padding-bottom: 50px;
}

.service2 {
    display: flex;
    height: 400px;
    margin-top: 50px;
}

.service2Text {
    width: 80%;
    padding-left: 57px;
    padding-right: 170px;
}

.service2Text p {
    text-align: justify;
}

.service2Image {
    /*AJUSTAR*/
    width: 50%;
    display: flex;
    justify-content: center;
    margin-right:131px;

}

.service2Image img {
    width: 400px;
}


/*SERVICIO 3*/

.service3 {
    display: flex;
    height: 400px;
    margin-top: 50px;

}

.service3Text {
    width: 80%;
    padding-left: 100px;
    padding-right: 170px;

}

.service3Text p {
    text-align: justify;
}

.service3Image {
    /*AJUSTAR*/
    width: 50%;
    display: flex;
    justify-content: center;
    

}

.service3Image img {
    width: 400px;
}

/*SERVICIO 4*/

.services h1 {
    margin: auto;
    padding-bottom: 50px;
}

.service4 {
    display: flex;
    height: 400px;
    margin-top: 50px;
}

.service4Text {
    width: 80%;
    padding-left: 57px;
    padding-right: 170px;
}

.service4Text p {
    text-align: justify;
}

.service4Image {
    /*AJUSTAR*/
    width: 50%;
    display: flex;
    justify-content: center;
    margin-right: 131px;

}

.service4Image img {
    width: 400px;
}

/*REVIEWS*/

.reviews {
    display:flex;
    flex-direction: column;
    margin-top: 120px;
}

.reviews h1 {
    margin: auto;
    padding-bottom: 90px;
}

.reviewsCarrusel {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 131px;
    padding-left: 57px;

}

/*REVIEWERS*/

.reviewer {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.reviewer img { /*arreglar formato de fotos*/
    width:70px;
    height:70px;
    border-radius: 100%;
}

.reviewer p {
    text-align: center;
}

/*TEAM MEMBERS*/

.team {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.team h1 {
    margin: auto;
    padding-bottom: 90px;
}

.teamMembers {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 131px;
    padding-left: 57px;
    justify-content: space-between;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
}

.member p {
    text-align: justify;
}

.member img {
    width: 160px;
    height: 160px;
    /*Estilizar el borde de la imagen*/
}


/*FOOTER*/

footer {
    display:flex;
    margin-top: 120px;
    margin-left:60px;
    justify-content: space-between;
}

.brandNameFooter {
    padding-left: 57px;
}

.footerLogo {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.footerLogo h1 {
    font-size: 23px;
    padding-right: 5px;
}

.footerLogo img {
    border: 1px solid red;
    width: 50px;
}

.contact {
}






img {
    width: 100px;
    height: auto;
}
